.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 1px 60px;
    color: white;
    background-color: #1a13138a;
}

.nav-logo img{
    width: 90px;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 22px;
    gap: 90px;
}

.nav li:hover{
    color: orangered;
}

.nav-contact{
    border-radius: 50px;
    padding: 7px 30px;
    background: #fff;
    color: #262626;
}